
$color1: rgb(153, 176, 176);  // #99b0b0
$color1_op50: rgba(153, 176, 176, 0.7);
$color2: #b5b2b0;
$color2l1: #cdc9c7;
$color3: #fcfaf0;
$color4: #8a9ea0;
$color4d1: #465051;
$color9: #544E61;

$color5: rgba(247,150,139,1);  // #f7968b
$color5l1: rgba(252,193,187,1);
$color6: #ced8dd;
$color7: rgb(71, 68, 64);  // #474440
$color7_op50: rgb(71, 68, 64, 0.7);

$color7l1: #57534e;
$color8: #5c6a66;
$color8l1: #70817c;
